body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

.left {
    flex: 1;
    background-color: rgb(231, 229, 229);
}

.middle {
    flex: 3;
    background-color: red;
}

.right {
    flex: 1;
    background-color: blue;
}